.foot-desc-txt {
  margin-top: 22px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
  color: rgba(255, 255, 255, 0.8);
}

.sns-context {
  margin-top: 17px;
  width: 137px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sns-context img {
  filter: brightness(0) saturate(100%) invert(42%) sepia(85%) saturate(566%)
    hue-rotate(133deg) brightness(93%) contrast(101%);
  transition: all 0.3s ease;
  cursor: pointer;
}

.sns-context img:hover {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%)
    hue-rotate(0deg) brightness(100%) contrast(100%);
  transform: scale(1.2);
}

.foot-category-title {
  width: 106px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  color: #00897b;
}

.foot-category-link {
  margin-top: 20px;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 170px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
}

.foot-category-link a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.foot-category-link a:hover {
  color: #00897b;
}

.find-us {
  display: flex;
  flex-direction: row;
}

.find-us span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 34px;
  color: #00897b;
}

.find-us div {
  margin-left: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
  color: rgba(255, 255, 255, 0.8);
}

.copyright-txt {
  margin-top: 17px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
  color: rgba(255, 255, 255, 0.6);
}

.foot-category-title:after {
  display: block;
  content: "";
  border-bottom: solid 2px #00897b;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: 0% 50%;
}

.foot-category-title:hover:after {
  transform: scaleX(1);
}
