.home-navbar {
  width: 100%;
  height: 700px;
  display: flex;
  /* background-image: url("/public/img/okk.jpg"); */
  background-size: contain;
  background: linear-gradient(90deg, #9aa1a8, #eaeaea);
  /* background-position: center; */
  background-repeat: no-repeat;
  background-attachment: fixed; /* agar parallax effekt kerak bo‘lsa */
  overflow: hidden; /* fon elementlari tashqariga chiqmasligi uchun */
}

.home-navbar a {
  text-decoration: none;
}

.home-navbar .hover-line a {
  color: #757a79;
  z-index: 100;
}

.home-navbar .underline {
  display: block;
  content: "";
  border-bottom: solid 3px #d7b686;
}

.home-navbar .hover-liner {
  display: flex;
  flex-direction: row;
  background: linear-gradient(90deg, hsl(0, 0%, 99%), #c3b7b7);
  align-items: center;
  justify-content: end;
  gap: 90px;
  width: 1200px;
  height: 38px;
}

.home-navbar .hover-line:after {
  display: block;
  content: "";
  border-bottom: solid 4px #d7b686;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.home-navbar .hover-line:hover:after {
  transform: scaleX(1);
}

.home-navbar div.hover-line:after {
  transform-origin: 0% 50%;
}
.home-navbar .header-frame {
  margin-top: 142px;
  height: 390px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-navbar .detail {
  width: 560px;
  display: flex;
  flex-direction: column;
  margin-left: 900px;
  background: rgba(255, 255, 255 0.4);
}

.home-navbar .header-frame .detail .head-main-txt {
  width: 450px;
  height: 150px;
  font-family: "Roboto-Serif";
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.75px;
  color: #f8f8ff;
  margin-left: 15px;
}

.home-navbar .header-frame .detail .wel-txt {
  width: 510px;
  height: 42px;
  font-family: "Roboto-Serif";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.54px;
  color: #d7b686;
  margin-left: 15px;
}

.home-navbar .header-frame .detail .service-txt {
  width: 510px;
  height: 42px;
  font-family: "Roboto-Serif";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.54px;
  color: #d7b686;
  margin-left: 15px;
}

.home-navbar .header-frame .detail .signup {
  margin-top: 63px;
  margin-left: 15px;
}

.home-navbar .header-frame .detail .signup .signup-button {
  width: 210px;
  height: 60px;
  border-radius: 4px;
  text-align: center;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #d7b686;
}
/* other navbar */

.other-navbar {
  width: 100%;
  height: 400px;
  display: flex;
  /* background: url("/public/img/banner.webp");
  background-size: cover; */
  background: linear-gradient(90deg, #9aa1a8, #eaeaea);
}

.other-navbar .navbar-container {
  margin-top: 55px;
}

.other-navbar .navbar-container .menu {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.other-navbar .navbar-container .menu .brand-logo {
  width: 125px;
  height: 30px;
}

.other-navbar .navbar-container .menu .links {
  display: flex;
  flex-direction: row;
  /* min-width: 700px; */
  background: linear-gradient(90deg, hsl(0, 0%, 99%), #c3b7b7);
  align-items: center;
  justify-content: end;
  gap: 90px;
  width: 1200px;
  height: 38px;
}

.other-navbar .navbar-container .menu .links .login-button {
  /* background: #7099d3; */
  color: #d7b686;
}

.other-navbar .navbar-container .menu .user-avatar {
  width: 50px;
  height: 40px;
  border-radius: 24px;
}

.other-navbar a {
  text-decoration: none;
}

.other-navbar .hover-line a {
  color: #f8f8ff;
  z-index: 100;
}

.other-navbar .underline {
  display: block;
  content: "";
  border-bottom: solid 4px #d7b686;
}

.other-navbarr .hover-line:after {
  display: block;
  content: "";
  border-bottom: solid 4px #d7b686;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.other-navbar .hover-line:hover:after {
  transform: scaleX(1);
}

.other-navbar div.hover-line:after {
  transform-origin: 0% 50%;
}
