.home-navbar {
  width: 100%;
  height: 700px;
  display: flex;
  /* background: url("/public/img/down.webp"); */
  background-color: rgb(210, 212, 205);
  background-size: cover;
  object-fit: contain; /* rasmini chiroyli kesadi */
  /* biroz shaffoflik */
  backdrop-filter: blur(4px); /* blur efekti */
  transition: all 0.3s ease; /* hover effekt uchun yumshoq o‘tish */
  image-rendering: -webkit-optimize-contrast; /* aniqroq ko‘rsatadi */
  image-rendering: crisp-edges; /* qirralarni tiniqlashtiradi */
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.home-navbar a {
  text-decoration: none;
}

.home-navbar .hover-line a {
  color: #757a79;
  z-index: 100;
}

.home-navbar .underline {
  display: block;
  content: "";
  border-bottom: solid 3px #d7b686;
}

.home-navbar .hover-liner {
  display: flex;
  flex-direction: row;
  min-width: 700px;

  align-items: center;
  justify-content: space-between;
}

.home-navbar .hover-line:after {
  display: block;
  content: "";
  border-bottom: solid 4px #d7b686;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.home-navbar .hover-line:hover:after {
  transform: scaleX(1);
}

.home-navbar div.hover-line:after {
  transform-origin: 0% 50%;
}
