.home-navbar {
  width: 100%;
  height: 700px;
  display: flex;
  /* background: url("/public/img/down.webp"); */
  background-color: rgb(210, 212, 205);
  background-size: cover;
  object-fit: contain; /* rasmini chiroyli kesadi */
  /* biroz shaffoflik */
  backdrop-filter: blur(4px); /* blur efekti */
  transition: all 0.3s ease; /* hover effekt uchun yumshoq o‘tish */
  image-rendering: -webkit-optimize-contrast; /* aniqroq ko‘rsatadi */
  image-rendering: crisp-edges; /* qirralarni tiniqlashtiradi */
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.home-navbar a {
  text-decoration: none;
}

.home-navbar .hover-line a {
  color: #757a79;
  z-index: 100;
}

.home-navbar .underline {
  display: block;
  content: "";
  border-bottom: solid 3px #d7b686;
}

.home-navbar .hover-liner {
  display: flex;
  flex-direction: row;
  min-width: 700px;

  align-items: center;
  justify-content: space-between;
}

.home-navbar .hover-line:after {
  display: block;
  content: "";
  border-bottom: solid 4px #d7b686;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.home-navbar .hover-line:hover:after {
  transform: scaleX(1);
}

.home-navbar div.hover-line:after {
  transform-origin: 0% 50%;
}
.home-navbar .header-frame {
  margin-top: 142px;
  height: 440px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: #757a79; */
}

.home-navbar .detail {
  width: 510px;
  display: flex;
  flex-direction: column;
  /* background-color: #134a3f; */
}

.home-navbar .header-frame .detail .head-main-txt {
  width: 450px;
  height: 150px;
  font-family: "Roboto-Serif";
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.75px;
  color: #f8f8ff;
}

.home-navbar .header-frame .detail .wel-txt {
  width: 510px;
  height: 42px;
  font-family: "Roboto-Serif";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.54px;
  color: #d7b686;
}

.home-navbar .header-frame .detail .service-txt {
  width: 510px;
  height: 42px;
  font-family: "Roboto-Serif";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.54px;
  color: #d7b686;
}

.home-navbar .header-frame .detail .signup {
  margin-top: 73px;
}

.home-navbar .header-frame .detail .signup .signup-button {
  width: 210px;
  height: 60px;
  border-radius: 4px;
  /* background-color: #757a79; */
  text-align: center;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #d7b686;
}

.home-navbar .header-frame .logo-frame {
  margin-top: 43px;
  width: 690px;
  height: 419px;
}

/* .home-navbar .header-frame .logo-frame .logo-img {
  width: 1000px;
  height: 350px;
  background: url("/public/img/download.webp");
  background-size: contain;
  background-repeat: no-repeat;
  filter: invert(25%);
} */
